#projectMenu > .label {
    -fx-graphic: url("../images/LEDForestIcon16.png");
}

#projectMenu .accelerator-text {
    -fx-graphic: none;
}

#projectMenuItem > .label {
    -fx-graphic: url("../images/ProjectIcon16.png");
}

#visualisationMenuItem > .label {
    -fx-graphic: url("../images/VisualisationIcon16.png");
}

#lightMenuItem > .label {
    -fx-graphic: url("../images/ArtnetIcon16.png");
}

#interactionMenuItem > .label {
    -fx-graphic: url("../images/InteractionIcon16.png");
}

#leapMenuItem > .label {
    -fx-graphic: url("../images/LeapIcon16.png");
}

#realsenseMenuItem > .label {
    -fx-graphic: url("../images/RealSense16.png");
}

#poseMenuItem > .label {
    -fx-graphic: url("../images/Pose16.png");
}

#pulseMenuItem > .label {
    -fx-graphic: url("../images/Pulse16.png");
}

#ledaMenuItem > .label {
    -fx-graphic: url("../images/Leda16.png");
}

#ledaPlaybackMenuItem > .label {
    -fx-graphic: url("../images/LedaPlayback16.png");
}

#starPatternMenuItem > .label {
    -fx-graphic: url("../images/Star16.png");
}

#cloudSceneMenuItem > .label {
    -fx-graphic: url("../images/Cloud16.png");
}

#mapMenuItem > .label {
    -fx-graphic: url("../images/MapIcon16.png");
}

#audioMenuItem > .label {
    -fx-graphic: url("../images/AudioIcon16.png");
}

#testMenuItem > .label {
    -fx-graphic: url("../images/Lab16.png");
}

.ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 20px;
}

.slider .track {
    -fx-border-color: transparent;
    -fx-border-width: 0.2em;

}

.slider .fill {
    -fx-border-color: transparent;
    -fx-border-width: 0.2em;
}

.root {
    -fx-font-size: 12px;
}